@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
@import "./variables.scss";
@import "../node_modules/bootstrap/scss/bootstrap";
body {
    background: linear-gradient(239deg, #e080cf, #99c9cb, #ddb7b7, #bfbfdd);
    background-color: white;
    min-height: 100vh;
    .main {
        padding-top: 3rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .container-home .row {
        min-height: 100vh;
    }

    @media (prefers-color-scheme: dark) {
        background: linear-gradient(239deg, #650a55, #149198, #981414, #171498);
        background-color: black;
        color: white;
        .bg-light {
            background-color: #650a55 !important;
            color: white !important;
        }
        .navbar-brand,
        a.nav-link,
        span {
            color: white !important;
        }
        a.nav-link.active {
            font-weight: 800;
        }
        li a {
            color: $light;
        }
        .card {
            color: black;
        }
    }
    footer {
        a {
            text-decoration: none;
        }
    }
}
